<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.candy.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <!-- for deploy-gate logging -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!-- Video call -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Notification -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".HimecasApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/home_title"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/himecas_web_host"
                    android:scheme="@string/himecas_web_scheme" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dialog"
                    android:scheme="@string/app_link_scheme" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="profile"
                    android:scheme="@string/app_link_scheme" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="blocked"
                    android:scheme="@string/app_link_scheme" />
            </intent-filter>

            <intent-filter
                android:autoVerify="true"
                android:priority="100">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/app_link_host_web"
                    android:scheme="@string/app_link_scheme" />
                <data
                    android:host="@string/app_link_host_adjust"
                    android:scheme="@string/app_link_scheme" />
                <data
                    android:host="@string/app_link_host_mission"
                    android:scheme="@string/app_link_scheme" />
                <data
                    android:host="@string/app_link_host_trial"
                    android:scheme="@string/app_link_scheme" />
                <data
                    android:host="@string/app_link_host_sms"
                    android:scheme="@string/app_link_scheme" />
                <data
                    android:host="@string/app_link_host_beginner"
                    android:scheme="@string/app_link_scheme" />
                <data
                    android:host="@string/app_link_host_purchase"
                    android:scheme="@string/app_link_scheme" />
                <data
                    android:host="@string/app_link_host_menu"
                    android:scheme="@string/app_link_scheme" />
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.StartPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.candy.android.CHAT" />
                <action android:name="com.candy.android.OPEN_HOME" />
                <action android:name="com.candy.android.PERFORMER_DETAIL" />
                <action android:name="com.candy.android.BLOG_DETAIL" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ProfileRegistrationV2Activity"
            android:label="@string/profile_registration"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name_login"
            android:parentActivityName=".activity.StartPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.StartPageActivity" />
        </activity>
        <activity
            android:name=".activity.PerformerProfileActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".custom.gallery.activities.GalleryActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".custom.image_crop.CropImageActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- knv added -->
        <activity
            android:name=".activity.MemberPointPurchaseActivity"
            android:theme="@style/AppTheme.Dialog.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "candy://buy.point?id=candy108jpy” -->
                <data
                    android:host="@string/himecas_iap_host"
                    android:scheme="@string/himecas_web_scheme" />
            </intent-filter>
        </activity>

        <service android:name=".http.firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".http.firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.adjust.sdk.AdjustReferrerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.VideoCallActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.CreditPurchaseActivity"
            android:label="@string/title_activity_credit_purchase"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".activity.MainTutorialActivity"
            android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>